// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form {
  width: 300px;
  margin-right: 150px;
  padding-left: 50px;
}

.form-group {
  padding-left: 50px;
  width: 300px;
}

.btn {
margin-left: 150px;
}
